<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENTOS</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand logo" href="{%url 'menu-principal' %}">
                <i class="bi bi-book"></i> CESFAM - Caldera
            </a>
            <div class="div-imagenLogoCaldera">
                <img class="imagenLogoCaldera" src="{% static 'img/PngItem_5278850.png'%}">
            </div>
            
        </div>
    </nav>

    <!-- SECCIONES -->
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'lista-documentos' %}" >Documentos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'lista-asignaciones' %}" >Asignaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'lista-instituciones' %}" >Instituciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'lista-alertas' %}" >Alertas</a>
        </li>
        
      </ul>

    <h1 class="mb-4" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; margin: 10px;">Documentos</h1>
    {% if documentos %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Barra de búsqueda -->
            <div class="input-group w-50">
                <input type="text" class="form-control" placeholder="Buscar documentos..." aria-label="Buscar documentos" id="search-input">
                <button class="btn btn-outline-secondary" type="button" id="search-button">
                    <i class="bi bi-search"></i> <!-- Ícono de búsqueda -->
                </button>
            </div>
            
            <!-- Botón de agregar documento -->
            <a href="{% url 'agregar-documentos' %}" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Agregar documentos
            </a>
        </div>
    </div>
    <br/>
    <table class="table table-bordered table-striped">
        <thead class="table-dark" >
            <tr>
                <th>ID Documento</th>
                <th>Tipo documento</th>
                <th>Institución</th>
                <th>Motivo</th>
                <th>Fecha Ingreso a sistema</th>
                <th>Fecha documento</th>
                <th>Valor monetario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for documento in documentos %}
            <tr>
                <td>{{ documento.id_documento }}</td>
                <td>{{ documento.id_tipodoc }}</td>
                <td>{{ documento.id_institucion.nombre }}</td>
                <td>{{ documento.motivo }}</td>
                <td>{{ documento.fecha_ingreso }}</td>
                <td>{{ documento.fecha_documento }}</td>
                <td>$ {{ documento.valor_monetario }}</td>
                <td>
                    {% if documento.id_documento %}
                    <a href="{% url 'editar-documento' documento.id_documento %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'eliminar-documento' documento.id_documento %}" class="btn btn-danger">Eliminar</a>
                    {% else %}
                    <span>ID NO DISPONIBLE</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-warning" role="alert" style="text-align: center; width: 50%; margin: 0 auto;">
          <h4 class="alert-heading">No hay documentos registrados en el sistema</h4>
          <i class="bi bi-exclamation-circle" style="font-size: 30px;"></i>
          <br/>
          <a href="{%url 'agregar-documentos' %}" class="btn btn-primary mb-3">Agregar documento</a>
      </div>
      {% endif %}
</body>
<br/>
<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>¿Qué ofrecemos?</h5>
                <ul class="list-unstyled">
                    <li>Organizacion</li>
                    <li>Formacion</li>
                    <li>Optimizacion</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Maestros Involucrados</h5>
                <ul class="list-unstyled">
                    <li>Anthony Maldonado</li>
                    <li>Rodrigo Vera</li>
                    <li>Alejandro Gonzalez</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>¡Contactanos!</h5>
                <ul class="list-unstyled d-flex gap-3">
                    <li id="iconWasap"><i class="bi bi-whatsapp"></i></li>
                    <li id="iconInsta"><i class="bi bi-instagram"></i></li>
                    <li id="iconTwiter"><i class="bi bi-twitter"></i></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Otros</h5>
                <ul class="list-unstyled">
                    <li>Ayuda</li>
                    <li>Manual del sistema</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-center">© 2024 Anthony Maldonado, Rodrigo Vera y Alejandro Gonzalez - Todos los derechos reservados</p>
    </div>
</footer>
</html>