<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <i class="bi bi-book"></i> CESFAM - Caldera
            </a>
            <div class="div-imagenLogoCaldera">
                <img  class="imagenLogoCaldera" src="{% static 'img/PngItem_5278850.png'%}">
            </div>
            
        </div>
    </nav>

    <!-- SECCIONES -->

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'lista-documentos' %}" >Documentos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'lista-asignaciones' %}" >Asignaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'lista-instituciones' %}" >Instituciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'lista-alertas' %}" >Alertas</a>
        </li>
        
      </ul>

    <!-- Banner -->
    <div class="banner">
        <h1 style="color: #ffffff; font-size: 40px; text-shadow: 2px 2px 7px black;">NUEVA WEB CESFAM</h1>
        <p style="color: #ffffff; font-size: 24px; text-shadow: 2px 2px 5px black;">Bienvenido este es el nuevo sistema web del registro de documentos CESFAM de Caldera, esta es la primera version, por lo que se mejorara con el tiempo</p>
    </div>
    
    
    <!-- Sección de servicios -->
    <div class="services container">
        <div class="row" style="margin-left: 15%;" >
            <a href="{%url 'lista-documentos' %}">
                <div class="col-md-3 service" style="cursor: pointer;">
                    <i class="bi bi-file"></i>
            </a>
            <h5 style="color: #255dc5;">Documentos</h5>
            </div>
            <div class="col-md-3 service" style="cursor: pointer;">
                <a href="{%url 'lista-asignaciones' %}">
                    <i class="bi bi-files"></i>
                </a>
                <h5 style="color: #255dc5;">Asignaciones</h5>
            </div>
            <div class="col-md-3 service" style="cursor: pointer;">
                <a href="{%url 'lista-instituciones' %}">
                    <i class="bi bi-book-half"></i>
                </a>
                <h5 style="color: #255dc5;">Instituciones</h5>
            </div>
            <div class="col-md-3 service" style="cursor: pointer;">
                <a href="{%url 'lista-alertas' %}">
                    <i class="bi bi-exclamation-circle"></i>              
                </a>
                <h5 style="color: #255dc5;">Alertas</h5>
            </div>
            <div class="col-md-3 service" style="cursor: pointer;">
                <a href="{%url 'buscar-usuario' %}">
                    <i class="bi bi-box-arrow-right"></i>
                </a>
                <h5 style="color: #255dc5;">Cerrar Sesion</h5>
            </div>
        </div>
    </div>

    <br>

    <footer class="bg-dark text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>¿Qué ofrecemos?</h5>
                    <ul class="list-unstyled">
                        <li>Organizacion</li>
                        <li>Formacion</li>
                        <li>Optimizacion</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Maestros Involucrados</h5>
                    <ul class="list-unstyled">
                        <li>Anthony Maldonado</li>
                        <li>Rodrigo Vera</li>
                        <li>Alejandro Gonzalez</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>¡Contactanos!</h5>
                    <ul class="list-unstyled d-flex gap-3">
                        <li id="iconWasap"><i class="bi bi-whatsapp"></i></li>
                        <li id="iconInsta"><i class="bi bi-instagram"></i></li>
                        <li id="iconTwiter"><i class="bi bi-twitter"></i></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Otros</h5>
                    <ul class="list-unstyled">
                        <li>Ayuda</li>
                        <li>Manual del sistema</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="text-center">© 2024 Anthony Maldonado, Rodrigo Vera y Alejandro Gonzalez - Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>