h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #255dc5;
}

.navbar {
    background-color: #255dc5;
    color: #fff;
}
.navbar a:hover {
    transition: 0.2s;
    box-shadow: 0 0 8px #ffffff;
    color: #ffffff;
    font-weight: bold;
    padding: 8px;
    font-size: 20px;
    border-radius: 8px;
}

.navbar a:not(:hover) {
    transition: 0.2s;
    text-shadow: 2px 2px 8px #002873;
    font-size: 20px;
}


li:hover{
    transition: 0.2s;
    color: #255dc5;
    border-bottom: solid #255dc5;
    font-weight: bold;
    font-size: 18px;
}
li:not(:hover){
    transition: 0.2s;
    font-size: 15px;
}

.imagenLogoCaldera{
    height: 60px;
    padding: 6px;
}

.imagenLogoCaldera:hover{
    transition: 0.2s;
    height: 60px;
    box-shadow: 0 0 8px #ff0000;
    padding: 5px;
    border-radius: 8px;
}

.header {
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: #255dc5;
}
.header .logo {
    font-weight: bold;
}
.banner {
    background-image: url(https://th.bing.com/th/id/R.053af7fbee294be99a8c341c91df380e?rik=pVphYOMy%2bYqXxQ&pid=ImgRaw&r=0&sres=1&sresct=1);
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    color: #fff;
    text-align: center;

}
.banner h1 {

    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px, 1px, 5px, black;
}
.banner p {
    font-size: 18px;
    text-shadow: 1px, 1px, 5px, black;
}
.services {
    padding: 40px 20px;
    text-align: center;
}
.services .service {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
}

.services .service:hover{
    transition: 0.2s;
    border-radius: 5px;
    padding: 10px;
    color: #0143c0;
}
.services .service:not(:hover){
    transition: 0.2s;
    border-radius: 5px;
    padding: 20px;
    color: #0143c0;
}

.services .service i {
    font-size: 30px;
    color: #255dc5;
}


.services .service h5 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
th{
    background-color: #4A148C;
}

#iconWasap:hover{
    transition: 0.2s;
    color: rgb(37 211 102);
    border-bottom: rgb(37 211 102) solid;
}
#iconWasap:not(:hover){
    transition: 0.2s;
}

#iconInsta:hover{
    transition: 0.2s;
    background: linear-gradient(to right, #f09433, #e55d87);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    border-bottom: coral solid;
}
#iconInsta:not(:hover){
    transition: 0.2s;
}

#iconTwiter:hover{
    transition: 0.2s;
    color: rgb(29 161 242);
    border-bottom: rgb(29 161 242) solid;
}
#iconTwiter:not(:hover){
    transition: 0.2s;
}




