.bodyInicio{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/253418.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
}
section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border:2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    box-shadow: 1 1 10 white;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid white;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: white;
}

.inputbox i{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2rem;
    top: 20px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

button:hover{
    background-color: gray;
}

p{
    color: white;
}

